#b1-div {
 display: flex;
 margin-top: 1.5rem;
 background: white;
 justify-content: space-evenly;
 width: 85%;
 margin: auto   ;
 margin-top: 2%;
}

#b1-div img {
 width: 49.4%;
 height: 45vh;
 border-radius: .2rem
}

@media only screen and (max-width: 480px){
 #b1-div {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 2%;
  background: white;
}

#b1-div img {
 width: 100%
}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
  #b1-div {
   display: flex;
   justify-content: space-between;
   width: 90%;
   margin: auto;
   margin-top: 2%;
   background: white;
 }
 
 #b1-div img {
  width: 50%
 }
 }