#b1-div {
 display: flex;
 /* width: 100%; */
 margin-top: 1.5rem;
 background: white;
 justify-content: space-evenly;
 width: 70%;
 margin: auto   ;
 margin-top: 1.5rem;
}

#b1-div img {
 width: 49.4%;
 height: 20rem;
 border-radius: .2rem
}

@media only screen and (max-width: 480px){
 #b1-div {
  display: block;
  width: 100%;
  margin: auto;
  margin-top: 1.5rem;
  background: white;
}

#b1-div img {
 width: 100%
}
}