#details {
 background: white;
 width: 85%;
 margin: auto;
 font-size: 80%;
 padding: 1.5%;
 margin-top: 2%;
 color: #66666A;
 line-height: 135%
}

#details a {
 color: black
}

@media only screen and (max-width: 480px){
 #details {
  display: none
 }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
 #details {
  width: 85%;
  line-height: 155%
 }

 #details h1 {
  font-size: 150%
 }
}