#foot {
  justify-content: space-between;
  display: flex;
  background: #474646;
  color: white;
  width: 70%;
  margin: auto;
  font-size: .72rem;
  padding: 1.2rem;
  /* display: none */
}

#foot h3 {
 color: rgba(250, 132, 15, 0.945);   
} 

#footer {
  width: 100%;
  background: #474646
}

#pic img {
  height: 1.5rem;
  width: 2rem;
  margin: .5rem
}

#pic {
  width: 18rem;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1rem;
  justify-content: space-evenly
}

#pic1 {
  width: 15rem
}

#media img {
  height: 2rem;
  width: 2.5rem;
  margin-right: -.5rem
}

#bheader {
  display: flex;
  height:90%;

  margin: auto;
  width: 30%;
  justify-content: space-around;
  align-items: center
}
#mother{
  height:90%;
  width:90%;
  margin-top:5%;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;

}
#bhead {
  display: flex;
  width:70%;
  justify-content: space-between;
  
 
}

#cart {
  background: white;
  height: 8vh;
  text-align: center
}

#cart img {
  height: 3.5rem;
  width: 3.5rem
}

#bhead img {
  height: 2rem;
  width: 2rem;
}

#free {
  background-color: white;
  width:70%;
  height:17px;
  font-weight: 600;
  font-size: 11px;
  color:#404040;
  display:flex;
  justify-content: space-between;
}

#bhed {
  display: flex;
  background-color: #e6e6e6;
  justify-content: space-around;
  width: 100%;
  margin-top: 1.5rem;  
  padding: .5rem
}

#apple {
  display: flex;
  justify-content: space-between;
  width:15%;
 
}
#firstText{
  font-size: 12px;
  color:#404040;
}
#firstTextParent{
  width:90%;
  margin-bottom: 0px;

}
#secondPart{
  width:80%;

}
#curvedEdge{
  width:14px;
  height:16px;
  border: 1px solid transparent;

  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;;
}
#FreeDownload{
  margin-top:0px;
  width:100%;
  height:16px;

}
#rightSide{
width:40%;
height:70px;

font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#rowone{
height:33%;
 width:100%;
/* background-color: blue;  */
}
#rowtwo{
  height:30%;
  width:100%;
  /* background-color: rgb(116, 90, 66); */
}
#rowthree{
  height:35%;
  width:100%;
 
}

#one{
font-size: 16px;
color:#737373;
font-weight:600;

}
#two{
  font-size: 12px;
  color:#737373;
}
#rowthree{
width:70%;
display :flex;
justify-content: space-around;
margin-left:0px;
}
#input{
  width:50%;
  height:100%;
  border:1px solid transparent;

}
#button1{
  width:20%;
  height:100%;
  border:1px solid transparent;
  color:white;
  background-color: #e68a00;
}
#button2{
  width:25%;
  height:100%;
  border:1px solid transparent;
  color:white;
  background-color: #e68a00;
}


#footer-header1 {
  width: 100%;
  /* margin: auto; */
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  color:  rgb(163, 157, 157);
  margin-top: 2rem;
  justify-content: end;
  margin-left: 4rem
 }
 
 #footer-header1 img {
  padding: .4rem
 }

 @media only screen and (max-width: 480px){
  #bhed {
    display: none
  }

  #footer {
    width: 100%;
    margin: auto
  }

  .footer-help {
    display: none
  }

  #foot {
    display: flex;
    justify-content: center
  }
}