#house {
  width: 100%;
  height: 50vh;
  background-color: #353333;
  margin-top: 1vh;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#top {
  width: 84%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  /* background-color: aquamarine; */
  border-bottom: 1px solid rgb(121, 120, 120);
}

a:hover{
  color:white;
  text-decoration:underline;
  border-bottom:1px solid rgb(121, 120, 120);
}

a:link{
  color:white;
  text-decoration: none;
  
}
a:visited{
  color:white;
  text-decoration: none;
  
}
.footer2Row{
  width: 100%;
  height: 60%;
  /* margin-left: auto;
  margin-right: auto; */
  /* background-color: gold; */
  /* border-bottom: 1px solid rgb(121, 120, 120); */
  display: flex;
  justify-content: space-between;
}
#bottom {
  width: 80%;
  height: 15%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -1rem
}
#rowA {
  width: 20%;
  height:50%;
  /* background-color: red; */
}
#rowB {
  width: 20%;
  height:50%;
  /* background-color: red; */
}

.One {
  color: white;
  font-size: 14px;
  font-weight:600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}
.Two {
  font-size: 13px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  line-height: 3px;
  font-weight: 100;
}
.Three {

}
.Four {
}

#rowC {
  width: 50%;
  /* background-color: rgb(0, 238, 255); */
  display: flex;
  height:50%;
  justify-content: space-around;

}
#beginning{
width:60%;
/* height: */
font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  line-height: 3px;
  font-weight: 100;
  margin-top: 10px;

}

#end{
width:35%;
margin-right: 10%;
/* background-color: rgb(200, 255, 0); */
}
#endbox{
  display:flex;
  width:85%;
  justify-content: space-between;
}
#endbox1{
  width:45%;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  line-height: 3px;
  font-weight: 100;

}
#endbox2{
  width:45%;
  font-size: 14px;
  /* background-color: aquamarine; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  line-height: 3px;
  font-weight: 100;
}
#best{
  width:100%;
  height:20vh;
/* background-color: blue; */
  margin-top: -.5rem
}
#best1{
  width:100%;
  height:35%;
/* background-color: red; */
display: flex;
justify-content: space-between;
}
#best11{
width:20%;
height:100%;
color:white;
}
#best12{
  width:20%;
  display: flex;
  align-items: center;
  /* background-color: aquamarine; */
height:80%;
margin-top:1%;
font-size: 20px;
color:white;
}
#best13{
  width:50%;
height:100%;
color:white;
}

#best2{
  width:100%;
  margin-top:1%;
  height:50%;
/* background-color: red; */
display: flex;
justify-content: space-between;
}
#best14{
width:20%;
height:100%;
}
#best15{
  width:20%;
height:40%;
margin-bottom:65%;
display: flex;
align-items: center;
color: white;

/* background-color: blue; */
}
#best16{
  width:50%;
height:100%;
}

@media only screen and (max-width: 480px){
  #rowA, #rowC, #end, #best, #bottom {
    display: none
  }

  .footer2Row {
    display: flex;
    justify-content: center
  }

  #rowB {
    display: block;
    /* margin: -20px */
  }

  .Two {
    line-height: normal;
    font-size: 9px
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  #house {
    font-size: 79%;
    height: 20%;
  }

  .Two, #endbox1, #endbox2 {
    font-size:70%;
    line-height: normal;
}

#best {
  padding-top: 1%
}

.One {
  font-size: 74%
}
}