#banMain {
 border-bottom: .009px solid rgb(211, 203, 203);
 /* width: 70%; */
 margin: auto;
 font-weight: lighter;
 background: white;
 width: 70%;
 margin: auto ;
 margin-top: 1.5rem;  
}

#banh3{
 margin-left: 1rem;
 display: flex;
 align-items: center;
 height: 2rem
} 

#card {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
}

#card img {
 height: 5.5rem; 
 width:  10.5rem
}

#banPic {
width: 16.47%;
height: 7.5rem;
background: white;
border: .009px solid rgb(211, 203, 203);
text-align: center;
font-size: .85rem
}

@media only screen and (max-width: 480px){
 #banMain {
  width:100%
 }

 #card {
  width: 100%;
  display: flex;
  justify-content: center
 }

 #banPic {
  width: 24%;
  font-size: 70%
 }

 #banPic img {
  width: 100%
 }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
 #banMain {
  width:90%
 }

 #card {
  width: 100%;
  display: flex;
  justify-content: center
 }

 #banPic {
  width: 24%;
  font-size: 70%
 }

 #banPic img {
  width: 100%
 }
}