#Plog {
 background: white;
 margin-top: .2%
}

#log {
 display: flex;
 width: 70%;
 margin: auto;
 padding: 3rem
}
#lost{
    height:15%;
    width:90%;
    /* background-color: aquamarine; */
    display:flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
}
#check{
    width:2%;
}
#checkbox{
    font-size: 15px;
    color:rgb(170, 169, 169);
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    /* background-color: rgb(140, 127, 255); */
    justify-content: space-around;
    width:50%;
    
}
#para{
    width:100%;
    height:50%;
    margin-top:15%;
    /* background-color: red; */
    color:rgb(10, 10, 10);
}
#log button {
 width: 80%;
 margin: 1rem;
 height: 3rem;
 border:1px solid transparent;
 border-radius: .4rem
}

.log1 {
 width: 50%;
 text-align: center;

}
#one{
    border-right: 1px solid rgb(228, 226, 226);
}

.log1 input{
 width: 80%;
 border: none;
 border-bottom: 1px solid rgb(211, 203, 203);
 margin: 2rem
}

#log h3, .log1 p {
 color: rgba(250, 132, 15, 0.945)
}

.loginA {
 background: rgba(250, 132, 15, 0.945);
 color: white
}

.loginB {
 background: #344F88;
 color: white
}

#down {
 margin-top: 14.8rem
}

#login-up {
 width: 70%;
 margin: auto;
 font-size: .8rem;
 height: 1.5rem;
 color: rgba(250, 132, 15, 0.945);
 display: flex;
 align-items: center
}

@media only screen and (max-width: 480px){

 #log {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 0;
  margin-top: 2%
 }

 .log1 {
  width: 100%
 }

 .log1 input {
  width: 70%
 }

 #down {
  margin: 0
 }
}

@media only screen and (min-width: 481px) and (max-width: 768px){
 #Plog {
  background: #F5F5F5;
  width: 100%;
  border-top: 2px solid #F5F5F5
 }

 #log {
  display: flex;
  flex-direction: column;
  width: 90%;;
  background: white;
  align-items: center;
  padding: 0;
  margin-top: 2%;
  margin: auto
 }

 .log1 {
  width: 100%
 }

 .log1 input {
  width: 70%
 }

 #down {
  margin: 0
 }
}