#hlogin-eader1 {
 width: 70%;
 margin: auto;
 font-size: 0.7rem;
 display: flex;
 align-items: center;
 color:  rgb(163, 157, 157)
}

#login-header img {
 padding: .4rem
}

.login-header2 {
 background: white;
 height: 4.5rem;
 display: flex;
 align-items: center;
 border-bottom: 1px solid #F5F5F5
}

#login-header2 #login-header2i {
 display: flex;
 width: 80%;
 height: 80%;
 margin: auto;
 justify-content: space-evenly;
 align-items: center;
 height: 4rem;
}

#login-header2 #login-need {
 display: flex;
 height: 1rem;
 justify-content: space-between;
 width: 7rem;
 align-items: center;
 font-size: .9rem;
 color: rgb(121, 112, 112)
}

#login-header2 #login-need span {
 font-weight: bold;
 color: black
}

#login-header2 img {
 height: 3rem;
 width: 11rem
}

#login-header2 #login-input {
 display: flex;
 align-items: center
}

#login-header2 #login-input input {
 width: 35rem;
 height: 2.5rem;
 background: white;
 border: none;
 padding-left: 1rem
}

#login-header2 #login-input button {
 width: 6rem;
 height: 2.5rem;
 background: rgba(250, 132, 15, 0.945);
 border: none;
 color: white
}

#loginParent {
 background: white
}

#Plog {
 background: white
}

#log {
 display: flex;
 width: 70%;
 margin: auto;
 padding: 3rem
}

#log button {
 width: 80%;
 margin: 1rem;
 height: 3rem;
 border-radius: .4rem
}

.log1 {
 width: 50%;
 text-align: center
}

.log1 input{
 width: 80%;
 border: none;
 border-bottom: 1px solid rgb(211, 203, 203);
 margin: 2rem
}

#log h3, .log1 p {
 color: rgba(250, 132, 15, 0.945)
}

.loginA {
 background: rgba(250, 132, 15, 0.945);
 color: white
}

.loginB {
 background: #344F88;
 color: white
}

#down {
 margin-top: 14.8rem
}

#loginUp {

}

#login-up {
 width: 70%;
 margin: auto;
 font-size: .8rem;
 height: 1.5rem;
 color: rgba(250, 132, 15, 0.945);
 display: flex;
 align-items: center
}