#signup-header2i {
 display: flex;
 width: 80%;
 height: 80%;
 margin: auto;
 justify-content: space-evenly;
 align-items: center;
 height: 4rem;
}

#signup-need {
 display: flex;
 height: 1rem;
 justify-content: space-between;
 width: 7rem;
 align-items: center;
 font-size: .9rem;
 color: rgb(121, 112, 112)
}

#signup-need span {
 font-weight: bold;
 color: black
}

#signup-nav {
 text-decoration: none;
 color: rgb(97, 93, 93)
}

#signup-header2 img {
 height: 3rem;
 width: 11rem
}

#signup-input {
 display: flex;
 align-items: center
}

#signup-input input {
 width: 35rem;
 height: 2.5rem;
 background: white;
 border: none;
 padding-left: 1rem
}

#signup-input button {
 width: 6rem;
 height: 2.5rem;
 background: rgba(250, 132, 15, 0.945);
 border: none;
 color: white
}

#up {
 width: 70%;
 margin: auto;
 font-size: .8rem;
 height: 1.5rem;
 color: rgba(250, 132, 15, 0.945);
 display: flex;
 align-items: center
}

#create {
 background: white;
 margin: auto;
 margin-top: -1rem;
 padding-bottom: 5rem
}

#search {
 background: rgba(250, 132, 15, 0.945);
 width: 6rem;
 height: 2.5rem;
 border-radius: .4rem;
 margin-left: .5rem
}

#signup-input1 {
 width: 50%;
 display: flex;
 flex-wrap: wrap;
 margin: auto;
 justify-content: space-between;
}

#signup-input1 input {
 border: none;
 border-bottom: 1px solid black;
 width: 40%;
 margin: 2rem;
 padding: .5rem
}

#label {
 margin-left: 1.5rem
}

#label input {
 width: 17rem
}

#create h3 {
 margin-left: 27rem;
 color: rgba(250, 132, 15, 0.945);
 padding-top: 3rem;
 padding-bottom: -2rem;
}

#hr {
 width: 50%;
 margin: auto;
font-size: .87rem;
 text-align: center
}

#hr button {
 width: 100%;
 height: 3rem;
}

#hr #p {
 text-align: left
}

#signBtn {
 background: rgba(250, 132, 15, 0.945);
 color: white;
 margin-bottom: 1rem;
 margin-top: 2rem
}

#signBtn1 {
 background: #344F88;
 color: white;
 margin-top: 1rem
}

@media only screen and (max-width: 480px){
#up {
 display: none
}

#signup-header2i {
display: flex;
flex-direction: column;
height: 15%;
flex-wrap: wrap;
width: 80%
}

#signup-input {
 display: flex;
 flex-direction: column;
 width: 100%
}

#signup-input input {
 width: 100%;
 margin: 2%
}

#signup-need {
 display: none
}

#create {
 margin-top: 1%;
 width: 100%
}

#create h3 {
 margin-left: 0rem;
padding-top: 0rem;
padding-bottom: 0rem;
text-align: center;
padding-top: .6%
}

#signup-input1 {
 width: 100%;
 justify-content: center;
}

#signup-input1 input {
 width: 70%
}

#label {
 margin: 0;
 display: flex;
 align-items: center;
 width: 70%;
 margin: auto
}

#hr #p {
 display: none
}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
 #signup-header2 {
  height: 3%;
  width: 100%;
  background: white;
  display: flex;
  align-items: center
 }
 
 #signup-input {
  display: flex;
  width: 60%;
 }
 
 #signup-input input {
  width: 65%;
  font-size: 50%;
  padding-right: .5rem;
  margin: auto;
  padding-left: 2%;
  margin-bottom: 1%;
  background: #f5f5f5;
 }
 
 #signup-input button {
  width: 26%;
  font-size: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 
 #signup-header2i {
  display: flex;
  width: 90%
 }
 
 #signup-header2 img {
 width: 7rem
 }
 
 #signup-need {
  font-size: 65%;
  padding: 2%
 }

 #create {
  width: 90%;
 }
 
 #create h3 {
  margin-left: 0rem;
 padding-top: 0rem;
 padding-bottom: 0rem;
 text-align: center;
 padding-top: .6%
 }
 
 #signup-input1 {
  width: 100%;
  justify-content: center;
 }
 
 #signup-input1 input {
  width: 70%
 }
 
 #label {
  margin: 0;
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto
 }
 
 #hr #p {
  display: none
 }
}

 
 