#create {
 background: white;
 margin: auto;
 padding-bottom: 5rem;
 margin-top: -1rem;
}


#signup-input1 {
 width: 70%;
 display: flex;
 flex-wrap: wrap;
 margin: auto;
 justify-content: space-between;
}

#signup-input1 input {
 border: none;
 border-bottom: 1px solid black;
 width: 40%;
 margin: 2%;
 padding: 3%
}

#label {
 display: flex;
 align-items: center;
 margin: 2%;
 margin-left: -1.5%;
 padding: 3%;
 width: 50%
}

#label input {
 width: 75%
}

#create h3 {
 margin-left: 27rem;
 color: rgba(250, 132, 15, 0.945);
 padding-top: 3rem;
 padding-bottom: -2rem;
}

#hr {
 width: 50%;
 margin: auto;
font-size: .87rem;
 text-align: center
}

#hr button {
 width: 100%;
 height: 3rem;
}

#hr #p {
 text-align: left
}

#signBtn {
 background: rgba(250, 132, 15, 0.945);
 color: white;
 margin-bottom: 1rem;
 margin-top: 2rem
}

#signBtn1 {
 background: #344F88;
 color: white;
 margin-top: 1rem
}

@media only screen and (max-width: 480px){
#create {
 margin-top: 1%;
 width: 100%
}

#create h3 {
 margin-left: 0rem;
padding-top: 0rem;
padding-bottom: 0rem;
text-align: center;
padding-top: .6%
}

#signup-input1 {
 width: 100%;
 justify-content: center;
}

#signup-input1 input {
 width: 70%
}

#label {
 margin: 0;
 display: flex;
 align-items: center;
 width: 70%;
 margin: auto
}

#hr #p {
 display: none
}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
 #create {
  width: 90%;
 }
 
 #create h3 {
  margin-left: 0rem;
 padding-top: 0rem;
 padding-bottom: 0rem;
 text-align: center;
 padding-top: .6%
 }
 
 #signup-input1 {
  width: 100%;
  justify-content: center;
 }
 
 #signup-input1 input {
  width: 70%
 }
 
 #label {
  margin: 0;
  display: flex;
  align-items: center;
  width: 70%;
  margin: auto
 }
 
 #hr #p {
  display: none
 }
}

 
 