#stockHolder {
 width: 70%;
 margin: auto ;
 margin-top: 1.5rem;  
}

#stock {
 display: flex;
 width: 100%;
 justify-content: space-evenly;
 background: white;
}

#stock img {
 width: 100%;
 height: 14rem
}

#stockCard {
 width: 16.47%;
 height: 20rem;
 background: white;
 font-size: .85rem
}

#stock h3 {
 margin-top: .4rem;
 margin-bottom: -.8rem                                                                                                                                                         
}

#stockTitle {
 margin: .3rem
}

#stockDiscount {
 position: relative;
 top: 17px;
 left: 140px;
 background: rgb(248, 226, 200);
 z-index: 2;
 width: 2rem
}

#stocker {
 margin-bottom: -1rem;
 border-radius: .2rem;
}

#stockHead {
 height: 3rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin: .8rem
}

#stockHeader {
 display: flex;
 align-items: center;
}

#stockHeader h3 {
 margin-right: .3rem
}

#stockP {
 width: 5rem;
 display: flex;
 justify-content: space-between;
 align-items: center
}